#img-bg{
    background-image: url('../../../assets/img/JavaScript frameworks-amico.png');
    
    min-height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.bg-cinza{
    background-color: #dddddd;
}

input, select{
    padding: 1px 20px;
    box-sizing: border-box;
    border: none;
    background-color: transparent;
    border-bottom: 2px solid #f37008;
  }